body {
  margin-top: 5rem;
  background-color: #fafafa;
}
.btn-gen {
  width: 100%;
}
.input-result,
.input-result:focus {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  color: #e83e8c;
  word-break: break-word;
  height: 2.5rem;
}
.btn-display-password {
  color: #495057;
  top: 0;
  left: -2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  z-index: 100;
  position: absolute;
  cursor: pointer;
  text-align: center;
}
.btn-input {
  color: #495057;
  border-color: #ced4da;
}
.dropdown-item {
  cursor: pointer;
}
